body {
  &.dark {
    background-color: #444;
    color: lightgrey;
  }
  padding: 1em;
}

.container {
  padding: 2em;
  max-width: 995px;
}

h1, h2, h3, h4, h5 {
  margin-top: 1.3rem;
}

// :where(ol, ul) :is(ol, ul) {
//   :is(ol, ul) {
//     list-style: lower-roman;
//   }

//   list-style: lower-alpha;
// }
