@charset "UTF-8";
.fg_process-diagram {
  color: #000;
  display: flex;
  list-style: none;
  overflow-x: auto;
  padding: 1em 0;
  position: relative;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  max-width: fit-content; }
  .fg_process-diagram ol {
    display: flex;
    list-style: none;
    padding-left: 0;
    position: relative;
    row-gap: 1em; }
  .fg_process-diagram > li {
    max-width: 100%; }
    .fg_process-diagram > li[id] {
      position: relative; }
  .fg_process-diagram > li:first-child > .card:before {
    content: none; }
  .fg_process-diagram > li:first-child > .card .card-body:before {
    content: none; }
  .fg_process-diagram .card {
    width: fit-content;
    margin: 1em auto;
    background-color: #fff;
    border-color: #999; }
    .fg_process-diagram .card.card-success {
      background-color: #f2f7ea;
      border-color: #9ebf6d; }
    .fg_process-diagram .card.card-warning {
      background-color: #ffedde;
      border-color: #f9af71; }
    .fg_process-diagram .card.card-danger {
      background-color: #fcf4f6;
      border-color: #b90824; }
    .fg_process-diagram .card.card-info {
      background-color: #eff5f6;
      border-color: #1e77aa; }
  .fg_process-diagram li > .card:before, .fg_process-diagram li > .card:after {
    content: "";
    display: block;
    border-left: 2px solid grey;
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: -1; }
  .fg_process-diagram li > .card:before {
    top: calc(-1em - 3px); }
  .fg_process-diagram li > .card:after {
    bottom: calc(-1em - 3px); }
  .fg_process-diagram li > .card:last-child:after {
    content: none; }
  .fg_process-diagram .fg_process-diagram__split {
    column-gap: 1em; }
    .fg_process-diagram .fg_process-diagram__split .fg_process-diagram__split {
      justify-content: center; }
    .fg_process-diagram .fg_process-diagram__split:before, .fg_process-diagram .fg_process-diagram__split:after {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 50%;
      height: 50%; }
    .fg_process-diagram .fg_process-diagram__split > li {
      height: fit-content; }
      .fg_process-diagram .fg_process-diagram__split > li > .card {
        margin-top: 1em; }
        .fg_process-diagram .fg_process-diagram__split > li > .card:before {
          top: calc(-1em - 3px); }
      .fg_process-diagram .fg_process-diagram__split > li:before {
        content: "";
        display: block;
        border-top: 2px solid grey;
        width: calc(100% + 2em); }
      .fg_process-diagram .fg_process-diagram__split > li:first-child:before {
        transform: translatex(calc(100% - 1em* 1.95));
        width: calc(50% + 1em* 2); }
      .fg_process-diagram .fg_process-diagram__split > li:last-child:before {
        transform: translatex(-1em);
        width: calc(50% + 1em); }
  .fg_process-diagram ol:not(.fg_process-diagram__split) {
    flex-direction: column;
    row-gap: 0; }
    .fg_process-diagram ol:not(.fg_process-diagram__split) li:not(:last-child) > .card:after {
      content: ""; }
    .fg_process-diagram ol:not(.fg_process-diagram__split) li > .card:last-child:after {
      content: none; }
  .fg_process-diagram.fg_process-diagram__arrows .card-body:before {
    content: "▼";
    width: 100%;
    font-size: 1.2rem;
    color: grey;
    position: absolute;
    top: -21px;
    left: 1px;
    text-align: center; }
  .fg_process-diagram.fg_process-diagram__arrows .fg_process-diagram__split {
    column-gap: 2em; }
    .fg_process-diagram.fg_process-diagram__arrows .fg_process-diagram__split > li > .card {
      margin-top: 1.5em; }
      .fg_process-diagram.fg_process-diagram__arrows .fg_process-diagram__split > li > .card:before {
        top: calc(-1.5em - 3px); }
  .fg_process-diagram.fg_process-diagram__arrows li.connect-below-target > .card {
    margin-top: 1.5em; }
    .fg_process-diagram.fg_process-diagram__arrows li.connect-below-target > .card:before {
      top: calc(-1.5em - 3px); }
  .fg_process-diagram .connector {
    position: absolute;
    border: 2px solid grey; }
    .fg_process-diagram .connector.connect-left {
      border-right-width: 0; }
      .fg_process-diagram .connector.connect-left.connect-level:before {
        content: "◀";
        top: -15px;
        right: 1em; }
      .fg_process-diagram .connector.connect-left.connect-above:before {
        left: -8px; }
    .fg_process-diagram .connector.connect-right {
      border-left-width: 0; }
      .fg_process-diagram .connector.connect-right.connect-level:before {
        content: "▶";
        top: -15px;
        left: 1em; }
      .fg_process-diagram .connector.connect-right.connect-above:before {
        right: -8px; }
    .fg_process-diagram .connector.connect-above {
      border-top: 0; }
      .fg_process-diagram .connector.connect-above:before {
        content: "▲";
        top: -24px; }
    .fg_process-diagram .connector.connect-below {
      border-top-width: 0; }
      .fg_process-diagram .connector.connect-below.connect-right {
        border-right-width: 0;
        border-left-width: 2px; }
      .fg_process-diagram .connector.connect-below.connect-left {
        border-left-width: 0;
        border-right-width: 2px; }
    .fg_process-diagram .connector.connect-level {
      border-width: 0;
      border-top-width: 2px; }
    .fg_process-diagram .connector.connect-center {
      border-bottom-width: 0;
      border-right-width: 0; }
    .fg_process-diagram .connector:before {
      font-size: 1.2rem;
      color: grey;
      position: absolute; }

body.dark #qg-primary-content .fg_process-diagram,
body.dark .fg_process-diagram {
  color: #fff; }
  body.dark #qg-primary-content .fg_process-diagram .card,
  body.dark .fg_process-diagram .card {
    width: fit-content;
    margin: 1em auto;
    background-color: #666;
    border-color: #999; }
    body.dark #qg-primary-content .fg_process-diagram .card.card-success,
    body.dark .fg_process-diagram .card.card-success {
      background-color: #36471b;
      border-color: #5d7835; }
    body.dark #qg-primary-content .fg_process-diagram .card.card-warning,
    body.dark .fg_process-diagram .card.card-warning {
      background-color: #5f2b00;
      border-color: #e16c0a; }
    body.dark #qg-primary-content .fg_process-diagram .card.card-danger,
    body.dark .fg_process-diagram .card.card-danger {
      background-color: #591829;
      border-color: #88061a; }
    body.dark #qg-primary-content .fg_process-diagram .card.card-info,
    body.dark .fg_process-diagram .card.card-info {
      background-color: #253e42;
      border-color: #1a6894; }
