#qg-primary-content .fg_process-diagram,
.fg_process-diagram {
  color: #000;
  display: flex;
  list-style: none;
  overflow-x: auto;
  padding: 1em 0;
  position: relative;
  z-index: 0;
  flex-direction: column;
  align-items: center;
  max-width: fit-content; }
  #qg-primary-content .fg_process-diagram ol,
  .fg_process-diagram ol {
    display: flex;
    list-style: none;
    padding-left: 0;
    position: relative;
    row-gap: 1em; }
  #qg-primary-content .fg_process-diagram > ol,
  .fg_process-diagram > ol {
    flex-direction: column; }
    #qg-primary-content .fg_process-diagram > ol li > ol,
    .fg_process-diagram > ol li > ol {
      flex-direction: row; }
  #qg-primary-content .fg_process-diagram > li,
  .fg_process-diagram > li {
    max-width: 100%; }
  #qg-primary-content .fg_process-diagram > li:first-child > .card:before,
  .fg_process-diagram > li:first-child > .card:before {
    content: none; }
  #qg-primary-content .fg_process-diagram .card,
  .fg_process-diagram .card {
    width: fit-content;
    margin: 1em auto; }
    #qg-primary-content .fg_process-diagram .card.card-success,
    .fg_process-diagram .card.card-success {
      background-color: #f2f7ea;
      border-color: #9ebf6d; }
    #qg-primary-content .fg_process-diagram .card.card-warning,
    .fg_process-diagram .card.card-warning {
      background-color: #ffedde;
      border-color: #f9af71; }
    #qg-primary-content .fg_process-diagram .card.card-danger,
    .fg_process-diagram .card.card-danger {
      background-color: #fcf4f6;
      border-color: #b90824; }
    #qg-primary-content .fg_process-diagram .card.card-info,
    .fg_process-diagram .card.card-info {
      background-color: #eff5f6;
      border-color: #1e77aa; }
  #qg-primary-content .fg_process-diagram li > .card:before, #qg-primary-content .fg_process-diagram li > .card:after,
  .fg_process-diagram li > .card:before,
  .fg_process-diagram li > .card:after {
    content: '';
    display: block;
    border-left: 2px solid grey;
    height: 100%;
    position: absolute;
    left: 50%;
    z-index: -1; }
  #qg-primary-content .fg_process-diagram li > .card:before,
  .fg_process-diagram li > .card:before {
    top: calc(-1em - 3px); }
  #qg-primary-content .fg_process-diagram li > .card:after,
  .fg_process-diagram li > .card:after {
    bottom: calc(-1em - 3px); }
  #qg-primary-content .fg_process-diagram li > .card:last-child:after,
  .fg_process-diagram li > .card:last-child:after {
    content: none; }
  #qg-primary-content .fg_process-diagram .fg_process-diagram__split,
  .fg_process-diagram .fg_process-diagram__split {
    column-gap: 1em; }
    #qg-primary-content .fg_process-diagram .fg_process-diagram__split:before, #qg-primary-content .fg_process-diagram .fg_process-diagram__split:after,
    .fg_process-diagram .fg_process-diagram__split:before,
    .fg_process-diagram .fg_process-diagram__split:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      width: 50%;
      height: 50%; }
    #qg-primary-content .fg_process-diagram .fg_process-diagram__split > li:before,
    .fg_process-diagram .fg_process-diagram__split > li:before {
      content: '';
      display: block;
      border-top: 2px solid grey;
      width: calc(100% + 2em); }
    #qg-primary-content .fg_process-diagram .fg_process-diagram__split > li:first-child:before,
    .fg_process-diagram .fg_process-diagram__split > li:first-child:before {
      transform: translatex(calc(100% - 1em*.95));
      width: calc(50% + 1em); }
    #qg-primary-content .fg_process-diagram .fg_process-diagram__split > li:last-child:before,
    .fg_process-diagram .fg_process-diagram__split > li:last-child:before {
      transform: translatex(-1em);
      width: calc(50% + 1em); }
  #qg-primary-content .fg_process-diagram ol:not(.fg_process-diagram__split),
  .fg_process-diagram ol:not(.fg_process-diagram__split) {
    flex-direction: column;
    row-gap: 0; }
    #qg-primary-content .fg_process-diagram ol:not(.fg_process-diagram__split) li:not(:last-child) > .card:after,
    .fg_process-diagram ol:not(.fg_process-diagram__split) li:not(:last-child) > .card:after {
      content: ""; }
